body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova';
    display: flex;
    flex-direction: column;
}

.image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(main_image_star-forming_region_carina_nircam_final-5mb.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    width: 99%;
    height: 85px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
    border-radius: 27px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    font-weight: bolder;
    flex-direction: row;
}

#icon {
    margin-right: 10px;
    color:dodgerblue;
}

#home {
    margin-right: 10px;
    color:dodgerblue;
}
#info {
    margin-right: 10px;
    color:dodgerblue;
}
#ai {
    margin-right: 10px;
    color:dodgerblue;
}

#frame {
    margin-top: 70px;
    height: 750px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 45px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 50px;
    font-size: 45px;
}

#bar {
    height: 5px;
    width: 340px;
    background-color: green;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 15px;
}

form {
    margin-top: 15px;
}

#contact {
    width: 270px;
    height: 33px;
    border-radius: 15px;
}

#name1 {
    font-weight: bolder;
    margin-bottom: 4px;
    margin-top: 25px;
}

#address123 {
    width: 270px;
    height: 33px;
    border-radius: 15px;
}

#email1 {
    margin-top: 18px;
    font-weight: bolder;
    margin-bottom: 4px;
}

#lockage {
    width: 270px;
    height: 33px;
    border-radius: 15px;
    padding: 2px;
}

#password1 {
    margin-top: 18px;
    font-weight: bolder;
    margin-bottom: 4px;
}

#first{
    color: dodgerblue;
    margin-right: 5px;
    
}

#second{
    color: dodgerblue;
    margin-right: 5px;
}

#third{
    color: dodgerblue;
    margin-right: 5px;
}

.checkbox {
    margin-top: 15px;
}

#signup {
    margin-top: 35px;
    width: 310px;
    height: 42px;
    border-radius: 20px;
    background-color:dodgerblue;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: all 0.1s ease;

}

#signup:hover {
    background-color: red;
}

.or{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 900;
}


#left-bar {
    height: 5px;
    width: 160px;
    background-color:green;
    border-top-left-radius: 10px;
    transform: translateY(90%);
    margin-right: 8px;
}

#right-bar {
    height: 5px;
    width: 160px;
    background-color: green;
    border-bottom-right-radius: 10px;
    transform: translateY(90%);
    margin-left: 8px;
}

.options {
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}

#apple {
    height: 40px;
    width: 170px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    font-weight: 800;
    cursor: pointer;
    border: 1px solid black;
    
}

#google {
    height: 40px;
    width: 170px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 800;
    margin-right: 17px;
    cursor: pointer;
    border: 1px solid black;

}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
  }

.fa-apple {
    transform: translateY(-5%);
    font-size: 28px;
}

#question {
    margin-top: 23px;
}

#signInBtn {
    height: 33px;
    width: 90px;
    border-radius: 15px;
    background-color: white;
    margin-left: 5px;
    font-weight: bolder;
    background-color: green;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all 0.1s ease;
}

#signInBtn:hover {
    background-color: red;
}
